
body {
    background-color: #F5F9F9;
    /* background-size: cover; */
}

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-toggle::after {
    display: none;
}

.pointer {
    cursor: pointer;
}

.bi.bi-heart-fill {
    color: red;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-red{
    color: red;
}
